{% extends 'base.html' %} {% block content %}
<div class="container mt-5 pt-5">
  <div class="row">
    <div class="col-md-8">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
      {% endfor %} {% endif %} {% endwith %} {% for post in posts.items %}
      <article class="media content-section-article">
        <a href="{{ url_for('user', username=post.author.username) }}"><img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" width="125px" height="125px" /></a>
        <div class="media-body">
          <div class="article-metadata mb-2">
            <a class="mr-2" href="{{ url_for('user', username=post.author.username) }}">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
          </div>
          <h2><a class="article-title mb-2" href="{{ url_for('post', post_id=post.id) }}">{{ post.title | safe }}</a></h2>
          <div class="article-content text-truncate" style="max-height: 350px;">{{ post.content| safe }}</div>
        </div>
      </article>
      {% endfor %} {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %} {% if page_num %} {% if posts.page == page_num %}
      <a class="btn btn-primary mb-4" href="{{url_for('blog', page=page_num)}}"> {{page_num}}</a>
      {% else %}
      <a class="btn btn-outline-primary mb-4" href="{{url_for('blog', page=page_num)}}"> {{page_num}}</a>
      {% endif %} {% else %} ... {% endif %} {% endfor %}
    </div>
    <div class="col-md-4">
      <div class="card mb-4 rounded">
        <h5 class="card-header">Search for posts</h5>
        <div class="card-body">
          <div class="input-group">
            <form method="POST" action="" class="d-flex w-100">
              {{form.hidden_tag()}} {{form.search(class="form-control", style="border-top-right-radius: 0px; border-bottom-right-radius: 0px;")}} {{form.submit(class="btn btn-primary")}}
            </form>
          </div>
        </div>
      </div>
      <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">Web Design</a>
                </li>
                <li>
                  <a href="#">HTML</a>
                </li>
                <li>
                  <a href="#">Freebies</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">JavaScript</a>
                </li>
                <li>
                  <a href="#">CSS</a>
                </li>
                <li>
                  <a href="#">Tutorials</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-4 bg-info">
        <h5 class="card-header">Side Widget</h5>
        <div class="card-body">
          {{message["content"]}}
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    var posts = [];
    function loadPosts() {
      $.getJSON("/posts", function (data, status, xhr) {
        for (var i = 0; i < data.length; i++) {
          posts.push(data[i].title);
        }
      });
    }
    loadPosts();

    $("#search").autocomplete({
      source: posts,
    });
  });
</script>
{% endblock %}
