{% extends 'base.html' %} {% block content %}
<div class="container mt-5 pt-5">
  <div class="row">
    <div class="col-md-8">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %}
      <div class="content-section">
        <div class="account-body" style="display: flex">
          {% if current_user.is_authenticated %}
          <img
            class="rounded-circle article-img"
            src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}"
            width="125px"
            height="125px"
          />
          {% else %}
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + 'default.jpg') }}" width="125px" height="125px" />
          {% endif %}
          <a class="w-100" href="{{url_for('new_post')}}">
            <form method="POST" action="" class="mt-2">
              {{ writeform.hidden_tag() }}
              <fieldset class="form-group m-0">
                <div class="form-group m-0 mb-2">
                  {% if writeform.title.errors %} {{ writeform.title(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in writeform.title.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %} {% if current_user.is_authenticated %} {{ writeform.title(class="form-control form-control-lg", placeholder="Write a new post") }}
                  {% else %} {{ writeform.title(class="form-control form-control-lg", placeholder="Login to write a post") }} {% endif %}{% endif %}
                </div>
              </fieldset>
            </form>
          </a>
        </div>
      </div>
      {% for post in posts.items %}
      <article class="media content-section-article">
        <a href="{{ url_for('user', username=post.author.username) }}"
          ><img
            class="rounded-circle article-img"
            src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"
            width="125px"
            height="125px"
        /></a>
        <div class="media-body">
          <div class="article-metadata mb-2">
            <a class="mr-2" href="{{ url_for('user', username=post.author.username) }}">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%B %d, %Y') }}</small>
          </div>
          <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title | safe }}</a></h2>
          <div class="article-content text-truncate mt-3" style="max-height: 350px">{{ post.content| safe }}</div>
        </div>
      </article>
      {% endfor %} {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %} {% if page_num %} {% if posts.page ==
      page_num %}
      <a class="btn btn-primary mb-4" href="{{url_for('blog', page=page_num)}}"> {{page_num}}</a>
      {% else %}
      <a class="btn btn-outline-primary mb-4" href="{{url_for('blog', page=page_num)}}"> {{page_num}}</a>
      {% endif %} {% else %} ... {% endif %} {% endfor %}
    </div>
    <div class="col-md-4 sticky-top" id="sidebar">
      <div class="card mb-4 rounded">
        <h5 class="card-header">Search Cloudbuffer</h5>
        <div class="card-body">
          <div class="input-group">
            <form method="POST" action="" class="d-flex w-100">
              {{form.hidden_tag()}} {{form.search(class="form-control", style="border-top-right-radius: 0px; border-bottom-right-radius: 0px;")}}
              {{form.submit(class="btn btn-primary")}}
            </form>
          </div>
        </div>
      </div>
      {% if current_user.is_authenticated %}
      <div class="card my-4 rounded">
        <h5 class="card-header">Groups you follow</h5>
        <div class="card-body pb-0">
          {% if current_user.groups|list|count <= 0 %}
          <p class="text-center text-secondary bg-light py-4 mb-4">Your group list is empty, try joining new groups</p>
          {% else %} {% for group in current_user.groups %}
          <div class="my-2 d-flex">
            <img class="rounded-circle mr-3" src="{{ url_for('static', filename='profile_pics/' + group.image_file) }}" alt="" width="65px" height="65px" />
            <a href="{{url_for('group', title=group.title)}}" class="d-flex" style="align-self: center; font-size: 22px">{{ group.title }}</a>
          </div>
          <hr />
          {% endfor %} {% endif %}
        </div>
      </div>
      {% endif %}
      <div class="card my-4 alert-info">
        <h5 class="card-header">Side Widget</h5>
        <div class="card-body">
          {{message["content"]|safe}} <br />
          <hr class="w-25" style="background-color: #73959a !important" />
          <p><i>The side widget displays message directly from the admins.</i></p>
        </div>
      </div>
      <div class="card mb-3 rounded">
        <h5 class="card-header">Find CloudBuffer on social media</h5>
        <div class="card-body d-flex justify-content-center">
          <div class="text-white">
            <a class="btn btn-primary mr-1" href="www.facebook.com"><i class="fab fa-facebook fa-2x"></i></a>
            <a class="btn btn-primary mx-1" href="https://twitter.com/theXtoyer"><i class="fab fa-twitter fa-2x"></i></a>
            <a class="btn btn-primary mx-1" href="https://discord.gg/GbZr5c6"><i class="fab fa-discord fa-2x"></i></a>
            <a class="btn btn-primary ml-1" href="https://github.com/theXtroyer1221/Cloud-buffer"><i class="fab fa-github fa-2x"></i></a>
          </div>
        </div>
      </div>
      <div class="lead text-secondary d-flex">
        <h6 class="text-secondary">
          <a href="{{url_for('terms')}}">Terms and conditions</a>
          <span class="mx-2">•</span>
          <a href="">About</a>
          <span class="mx-2">•</span>
          <a href="">Contact</a>
        </h6>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    var posts = [];
    function loadPosts() {
      $.getJSON("/posts", function (data, status, xhr) {
        for (var i = 0; i < data.length; i++) {
          if (data[i].type == "group") {
            posts.push("Group: " + data[i].title);
          } else if (data[i].type == "grouppost") {
            posts.push("Group post: " + data[i].title);
          } else {
            posts.push("Post: " + data[i].title);
          }
        }
      });
    }
    loadPosts();

    $("#search").autocomplete({
      source: posts,
    });
  });
</script>
{% endblock %}
