{% extends 'base.html' %} {% block content %}
<div class="container pt-5 mt-5">
  <div class="row">
    <div class="col-md-8">
      <div class="content-section account-body">
        <div class="media mb-2">
          <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + group.image_file) }}" />
          <div class="media-body">
            <div>
              <h2 class="account-heading mb-1">{{ group.title }}</h2>
              <p class="text-secondary">{{ group.description }}</p>
              <div style="display: inline-grid">
                <p style="font-size: 20px; display: flex; margin: auto !important">{{group.users|count}}</p>
                <p style="display: flex; margin: auto !important">Members</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %}
      <div class="content-section account-body">
        <form method="POST" action="" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">Group information</legend>
            <div class="form-group">
              {{ form.title.label(class="form-control-label") }} {% if form.title.errors %} {{ form.title(class="form-control
              form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.title.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %} {{ form.title(class="form-control form-control-lg") }} {% endif %}
            </div>
            <div class="form-group">
              {{ form.description.label(class="form-control-label") }} {% if form.description.errors %} {{
              form.description(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.description.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %} {{ form.description(class="form-control form-control-lg") }} {% endif %}
            </div>
            <div class="form-group">
              {{ form.language.label(class="form-control-label") }} {{ form.language(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
              {{ form.image_file.label() }} {{ form.image_file(class="form-control-file btn") }} {% if form.image_file.errors %} {%
              for error in form.image_file.errors %}
              <span class="text-danger">{{ error }}</span>
              {% endfor %} {% endif %}
            </div>
          </fieldset>
          <div class="form-group">{{ form.submit(class="btn btn-blog-dark") }}</div>
        </form>
      </div>
    </div>
    <div class="col-md-4">
      <div class="content-section account-body" style="overflow: auto; max-height: 300px">
        <legend>Moderators of the group</legend>
        <hr />
        {% for user in group.moderators %}
        <div class="my-2 d-flex">
          <img
            class="rounded-circle mr-3"
            src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}"
            alt=""
            width="65px"
            height="65px"
          />
          <a href="{{url_for('user', username=user.username)}}" class="d-flex" style="align-self: center; font-size: 20px"
            >{{ user.username }}</a
          >
        </div>
        <hr />
        {% endfor %}
      </div>
      <div class="content-section account-body">
        <legend>Add new Moderators</legend>
        <hr />
        <form method="POST" action="">
          {{ form2.hidden_tag() }}
          <div class="form-group">
            {{ form2.username.label() }} {{ form2.username(class="form-control form-control-lg") }} {% if form2.username.errors %}
            {% for error in form2.username.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %} {% endif %}
            <p style="font-size: 12px" class="text-secondary text-small mt-2">
              Case sensetive names, Once the user is added, he can not be removed
            </p>
          </div>
          <div class="form-group">
            <div class="form-group">{{ form.submit(class="btn btn-blog-dark") }}</div>
          </div>
        </form>
      </div>
      <div class="content-section account-body border-danger">
        <legend>Delete group</legend>
        <p class="secondary">Delete '{{group.title}}' forever</p>
        <hr />
        <div class="form-group">
          <a class="btn btn-danger mt-2 mb-1" data-toggle="modal" data-target="#deleteModal">Delete group</a>
        </div>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content p-1">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete {{group.title}}?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p class="text-danger">
                  Are you sure you want to delete {{group.title}}? <b>The group will be deleted permanently.</b>
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{ url_for('delete_group', group_id=group.id) }}" method="POST">
                  <input class="btn btn-danger" type="submit" value="Delete" />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
