<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  </head>
  <body>
    <nav id="navbarBlog" class="navbar navbar-expand-md navbar-dark sticky-top py-2 mobile-dark bg-dark mb-3" style="background-color: #283655 !important;">
      <div class="container">
        <img src="https://i.ibb.co/V2Xknff/logo-hori.png" alt="" height="50" class="mx-auto" />
      </div>
    </nav>
    <section class="mt-5 mb-5">
      <div class="ml-5">
        <div class="row">
          <h1 style="font-family: 'Montserrat', sans-serif !important;">Hello {{ user.username }}</h1>
          <p>To reset your password, visit the following link:</p>
          <a href="{{url}}">{{ url }}</a> <br />
          <p>If you did not make this request then simply ignore this email and no changes will be made.</p>
        </div>
      </div>
    </section>
    <footer>
      <div class="footer-copyright text-center py-3 bg-dark text-white">
        © 2020 Copyright: Cloud Buffer
      </div>
    </footer>
  </body>
</html>
