{% extends 'base.html' %} {% block content %}
<div class="container mt-5 pt-5">
  <div class="row">
    <div class="col-md-1">
      <div class="w-100">
        <a class="twitter-share-button" data-size="large" href="https://twitter.com/intent/tweet?text=Hello%20world"></a>
      </div>
      <div>
        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
      </div>
    </div>
    <div class="col-md-8">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
      {% endfor %} {% endif %} {% endwith %}
      <article class="media content-section-article">
        <a class="mr-2" href="{{url_for('user', username=post.author.username)}}"><img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" width="125px" height="125px" /></a>
        <div class="media-body">
          <div class="article-metadata mb-2">
            <a class="mr-2" href="{{ url_for('user', username=post.author.username) }}">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            {% if post.author == current_user %}
            <div>
              <a class="btn btn-secondary btn-sm mt-2 mb-1" href="{{url_for('update_post', post_id=post.id)}}">Update</a>
              <a class="btn btn-danger btn-sm mt-2 mb-1" data-toggle="modal" data-target="#deleteModal">Delete</a>
            </div>
            {% endif %}
          </div>
          <h2 class="mb-2">{{ post.title }}</h2>
          <p class="article-content">{{ post.content }}</p>
        </div>
      </article>
      <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content p-1">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete Post?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p class="text-danger">Are you sure you want to delete the post? <b>The post will be deleted permanently.</b></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete" />
              </form>
            </div>
          </div>
        </div>
      </div>
      <div id="disqus_thread"></div>
      <script>
        var disqus_config = "{{ request.url }}{{ request.path }}";
        //= function () {
        //  this.page.url = "{{request.path}}";
        //  this.page.identifier = "{{post.id}}";
        //};
        (function () {
          // DON'T EDIT BELOW THIS LINE
          var d = document,
            s = d.createElement("script");
          s.src = "https://cloud-buffer.disqus.com/embed.js";
          s.setAttribute("data-timestamp", +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
    <div class="col-md-3">
      <div class="media content-section-article d-block text-center">
        <h3 class="mt-4">Post published</h3>
        <br />
        <h4 class="text-primary mb-4">{{ post.date_posted.strftime('%Y-%m-%d') }}</h4>
        <h3>Post author</h3>
        <br />
        <h4 class="text-primary mb-4"><a class="mr-2" href="{{url_for('user', username=post.author.username)}}">{{ post.author.username }}</a></h4>
        <h3>Post ID</h3>
        <br />
        <h4 class="text-primary mb-4">{{ post.id }}</h4>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0"></script>
{% endblock %}
