{% extends 'base.html' %} {% block content %}
<div class="container pt-5 mt-5">
  <div class="row">
    <div class="col-md-8">
      <div class="content-section account-body">
        <div class="media">
          <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}" />
          <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
            {% if user.biography is not none %}
            <p class="mt-2">{{ user.biography }}</p>
            {% endif %}
          </div>
        </div>
      </div>
      <h2 class="my-3">Posts by {{ user.username }} ({{ posts.total }})</h2>
      {% for post in posts.items %}
      <article class="media content-section-article-user_page">
        <a href="{{ url_for('user', username=post.author.username) }}"
          ><img
            class="rounded-circle article-img"
            src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"
            width="125px"
            height="125px"
        /></a>
        <div class="media-body">
          <div class="article-metadata mb-2">
            <a class="mr-2" href="{{ url_for('user', username=post.author.username) }}">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%d/%m/%Y') }}</small>
          </div>
          <h2><a class="article-title mb-2" href="{{ url_for('post', post_id=post.id) }}">{{ post.title |safe}}</a></h2>
          <div class="article-content text-truncate mt-2" style="max-height: 350px">{{ post.content |safe}}</div>
        </div>
      </article>
      {% endfor %} {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %} {% if page_num %} {% if posts.page ==
      page_num %}
      <a class="btn btn-primary mb-4" href="{{url_for('user', username=user.username, page=page_num)}}"> {{page_num}}</a>
      {% else %}
      <a class="btn btn-outline-primary mb-4" href="{{url_for('user', username=user.username, page=page_num)}}"> {{page_num}}</a>
      {% endif %} {% else %} ... {% endif %} {% endfor %}
    </div>
    <div class="col-md-4">
      <div class="content-section-article-user_page" , style="overflow: auto; height: 500px">
        <legend>Groups that {{user.username}} follow:</legend>
        <hr />
        {% if user.groups|list|count > 0 %} {% for group in user.groups %}
        <div class="my-2 d-flex">
          <a href="{{url_for('group', title=group.title)}}" class="d-flex" style="align-self: center; font-size: 20px">
            <img class="rounded-circle mr-3" src="{{ url_for('static', filename='profile_pics/' + group.image_file) }}" alt="" width="65px" height="65px" />
            {{ group.title}}</a
          >
        </div>
        <hr />
        {% endfor %} {% else %}
        <div class="bg-secondary">
          <h5 class="text-muted text-center text-secondary bg-light p-4">{{user.username}} doesn't follow any group, invite them to one!</h5>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
