{% extends 'base.html' %} {% block content %}
<div class="container pt-5 mt-5">
  <div class="row">
    <div class="col-md-8">
      <div class="content-section account-body">
        <div class="media">
          <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}" />
          <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div style="border: 1px solid black; height: 100%; border-radius: 20px;"></div>
    </div>
  </div>
</div>
{% endblock %}
