flask
numpy
Pillow
gunicorn 
requests
flask_wtf
Flask-mail
Flask-login
Flask-Bcrypt
python-dotenv
flask-migrate
flask_whooshee
email_validator
Flask-sqlalchemy
flask-simple-geoip
flask_whooshalchemy
itsdangerous==2.0.1
Google-Images-Search