.header-index {
  background-color: #ffd000;
  background-image: url("../brand/overlay.svg"), linear-gradient(45deg, #ffd000 0%, #ff9600 100%);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 56px;
  padding-top: 6rem;
  padding-bottom: 0rem;
  .header-input {
    border-radius: 50px;
    border: 0;
    width: 500px;
    height: 50px;
    margin-bottom: 5rem;
    margin-right: -52px;
    display: initial;
  }
  .header-button {
    border-radius: 50px;
    height: 50px;
    width: 50px;

    &::before {
      content: "";
      width: 50px;
      height: 50px;
      border-radius: 50px;
      position: absolute;
      left: 5px;
      background-color: black;
    }
  }
}

.header-muted {
  font-size: 17px !important;
}
