html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: $font3;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0 !important;
  padding: 0;
}

h1 {
  font-family: $font1 !important;
}

img {
  object-fit: cover;
}

.vl {
  height: 100%;
  border: none;
  border-left: 1px solid hsla(200, 10%, 50%, 100);
  height: 100vh;
  width: 1px;
}
