html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
  min-height: 100vh;
  width: 100%;
  font-family: $font3;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0 !important;
  padding: 0;
}

h1 {
  font-family: $font1 !important;
}

p {
  font-family: $font3;
}

img {
  object-fit: cover;
}

.bg-dark {
  background-color: #283655 !important;
}

.vl {
  height: 100%;
  border: none;
  border-left: 1px solid hsla(200, 10%, 50%, 100);
  height: 100vh;
  width: 1px;
}

.text-primary {
  color: $color1 !important;
}

.bg-primary {
  background-color: $color1 !important;
}

.bg-primary-2 {
  background-color: $color3 !important;
}

@font-face {
  font-family: font-awesome;
  src: url(..\brand\Font\Awesome\5\Brands-Regular-400.otf);
}

#location_submit {
  font-family: font-awesome;
}

.card-signin {
  border-radius: 1rem;
}

.form-control {
  border-radius: 1rem;
  &:focus {
    border-color: #283655;
    box-shadow: 0 0 0 0.2rem #2836556b;
  }
}
