@charset "UTF-8";
.header-index {
  background-color: #ffd000;
  background-image: url("../brand/overlay.svg"), -webkit-gradient(linear, left top, right top, from(#00f2fe), color-stop(2.1%, #03effe), color-stop(29.3%, #24d2fe), color-stop(55.4%, #3cbdfe), color-stop(79.6%, #4ab0fe), to(#4facfe));
  background-image: url("../brand/overlay.svg"), linear-gradient(90deg, #00f2fe 0%, #03effe 2.1%, #24d2fe 29.3%, #3cbdfe 55.4%, #4ab0fe 79.6%, #4facfe 100%);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10rem;
  padding-bottom: 0rem;
}

.header-index .header-input {
  border-radius: 50px;
  border: 0;
  width: 500px;
  height: 50px;
  margin-bottom: 5rem;
  margin-right: -52px;
  display: initial;
}

.header-index .header-button {
  border-radius: 50px;
  height: 51px;
  width: 50px;
  /*&::before {
      content: "";
      width: 50px;
      height: 50px;
      border-radius: 50px;
      position: absolute;
      left: 5px;
      background-color: black;
    }*/
}

.header-index .header-button::last-child {
  background-color: #0069d9 !important;
}

.header-muted {
  font-size: 17px !important;
}

.search-header {
  margin-top: 56px;
  padding-top: 6rem;
}

.search-input {
  border-radius: 50px !important;
  border: 0 !important;
  width: 500px !important;
  height: 50px !important;
  margin-right: -52px !important;
  border: 2px solid rgba(0, 0, 0, 0.5) !important;
}

.btn-group .search-button {
  border-radius: 0px !important;
  border-top-left-radius: 50px !important;
  border-bottom-left-radius: 50px !important;
  height: 51px !important;
  width: 50px !important;
}

.btn-group .search-button-location {
  border-radius: 0px !important;
  border-top-right-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
}

.nav-part-dark {
  border-radius: 5px;
}

.navbar {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.nav-link {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
  min-height: 100vh;
  width: 100%;
  font-family: "Raleway", sans-serif;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0 !important;
  padding: 0;
}

h1 {
  font-family: "Montserrat", sans-serif !important;
}

p {
  font-family: "Raleway", sans-serif;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-dark {
  background-color: #283655 !important;
}

.vl {
  height: 100%;
  border: none;
  border-left: 1px solid #73848c;
  height: 100vh;
  width: 1px;
}

.text-primary {
  color: #4facfe !important;
}

.bg-primary {
  background-color: #4facfe !important;
}

.bg-primary-2 {
  background-color: #4f80fe !important;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
  background-color: #283655;
}

.onoffswitch {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "°C";
  padding-left: 10px;
  background-color: #4facfe;
  color: #ffffff;
}

.onoffswitch-inner:after {
  content: "°F";
  padding-right: 10px;
  background-color: #ffffff;
  color: #4facfe;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 18px;
  margin: 6px;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  border: 2px solid #999999;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #4facfe;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#mainSection {
  display: none;
}

.weather-temprature {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 50px;
}

.weather-temprature::after {
  content: var(--c, "°c");
}

.weather-feel {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.weather-feel::before {
  content: "Feels like: ";
}

.weather-feel::after {
  content: var(--c, "°c");
}

.weather-desc {
  font-size: 24px !important;
  font-weight: 600;
}

.weather-humidity {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 600;
}

.weather-wind {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 50px;
}

.weather-wind::after {
  content: "m/s";
  font-size: 25px;
}

.weather-pressure {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 40px;
}

.weather-pressure::after {
  content: "hPa";
  font-size: 25px;
}

.quote {
  font-size: 25px;
}

@media (max-width: 990px) {
  .mobile-dark {
    background-color: #283655 !important;
  }
}

#weatherMap {
  height: 450px;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */