@import "var";
@import "header";
@import "reset";
@import "scrollbar";
@import "switch";
@import "loader";

.weather-temprature {
  font-family: $font1;
  font-weight: 600;
  font-size: 50px;

  &::after {
    content: var(--c, "°c");
  }
}

.weather-feel {
  font-family: $font1;
  font-weight: 600;
  font-size: 20px;

  &::before {
    content: "Feels like: ";
  }

  &::after {
    content: var(--c, "°c");
  }
}

.weather-desc {
  font-size: 24px !important;
  font-weight: 600;
}

.w-display {
  font-family: $font1;
  font-size: 40px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .w-display {
    font-size: 24px;
  }
}

@media screen and (max-width: 440px) {
  .header-index .header-input .search-input .search-header {
    width: 250px !important;
    color: #000;
  }
}
.weather-wind {
  &::after {
    content: "m/s";
    font-size: 25px;
  }
}

.weather-pressure {
  &::after {
    content: "hPa";
    font-size: 25px;
  }
}

.quote {
  font-size: 25px;
}

@media (max-width: 990px) {
  .mobile-dark {
    background-color: #283655 !important;
  }
}

#weatherMap {
  height: 450px;
  width: 100%;
}

.ui-menu .ui-menu-item {
  font-size: 14px !important;
}
